
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Products List</title>
</head>
<body>

<h3>Dati</h3>
<table> style="width:100%;text-align:center">
    <tr>
        <th>Id</th>
        <th>Ievaditie dati</th>
    </tr>
        <tr th:each="db : ${Datubaze}">
            <td th:text="${Datubaze.Nr}"></td>
            <td th:text="${Datubaze.Ievaditie_dati} "></td>

</table>
<form method="POST" action="/">
    <button type="submit">Turpinat</button>
</form>
</body>
</html>