<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<form action="/data" method="post">
    <pre>
  Ievade:   <input name="ievades"/> <br/>
    <input type="submit" value="Save">
        </pre>
</form>
<br>
<table style="width:100%;text-align:center">
    <tr><th>Nr</th>
        <th>Ievaditie dati</th>
    </tr>
    <tr th:each="data : ${ievades}">
        <td th:text="${data.nr}"></td>
        <td th:text="${data.ievaditie_dati}"></td>
    </tr>
</table>
</body>
</html>