<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 style="text-align:center;">Sveicināts mājaslapā!</h1>

<form action="majaslapa\db" method="get">
    <label for="dati">Ievadiet datus:</label><br>
    <input type="text" id="dati" name="dati"><br>
    <input type="submit" value="Saglabāt">
</form>

<form action="" method="post">
    <input type="submit" value="Iegūt datus">
</form>
</body>

</html>
