<!DOCTYPE HTML>
<html>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h1 style="text-align:center;">Sveicināts mājaslapā!</h1>

<!--Ievades poga-->
<div>
    <form id="lietotaja_ievade" onsubmit="return false;">
        <label>Ievadiet datus:</label>
        <input type="text" global id="ievad">
        <input type="submit" onclick="saglaba();"/>
    </form>
</div>

<script>
function saglaba() {
var ievaditie_dati = document.getElementById("ievad").value;
alert(input);
}
</script>

<!--Ievades poga-->

<!--Izvades poga-->
<div>
<form id="Izvade" onsubmit="return false;">
    <input type="submit" value="Iegūt datus" onclick="iegust();"/>
</form>
</div>
<script>
function iegust(){
    return 0;}
</script>
<!--Izvadees poga-->

<!--Tabula-->
<Table>
    <tr>
        <th>Nr</th>
        <th>Dati</th>
    </tr>
<?php
include "C:\db\demo.mv.db"; //Izveido savienojumu ar datu bāzi

$records = mysqli_query($db,"select * from dati");

while($data = mysqli_fetch_array($records))
{
?>
    <tr>
        <td><?php echo $data['Nr']; ?></td>
        <td><?php echo $data['Dati']; ?></td>
    </tr>
    <?php
}
?>
</Table>
<?php mysqli_close($db); ?>

</body>

</html>
